{% extends 'base.html' %}
{%block content%}
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                {{product.title}}
              </h2>
            </div>
            <p>
              Категория: {{product.category}}
            </p>
            <p>
              На складе: {{product.availibility}}
            </p>
            <p>
              Описание: {{product.description}}
            </p>
            <div class="product-price">
              <span>${{ product.price }}</span>
            </div>
            {% if current_user.is_authenticated %}
            <form action="/add_cart" method="POST">
              <input type="hidden" name="product_id" value="{{product.id}}">
            <button>+</button>
          </form>
          {% else %}
          <a href="{{url_for('login') }}"><p6>Войдите в учетную запись</p6></a>
          {% endif %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img  src="{{ url_for('static', filename = 'images/' + product.image) }}" max-height="50%" max-width="50%"alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}