{% extends 'base.html' %}
{%block content%}
<section class="brand_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>Магазин</h2>
    </div>
    <div class="brand_container layout_padding2">
      {% for product in products %}
      <div class="box">
        <div href="/product_detail">  
          <div class="img-box">
            <a href="{{url_for('product_detail',product_id=product.id) }}"></a>
            <img src="{{ url_for('static', filename = 'images/' + product.image) }}" max-height="5%" alt="">
          </div>
          <div class="detail-box">
            <h6 class="price">
              ${{ product.price }}
            </h6>
            <h6>
              <a href="{{url_for('product_detail',product_id=product.id) }}">{{ product.title }}</a>
            </h6>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

