{% extends 'base.html' %}
{%block content%}
<section class="brand_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Магазин
      </h2>
    </div>
    <div class="brand_container layout_padding2">
      {% for product in products %}
      <div class="box">
        <a href="product_detail">

          <div class="img-box">
            <h6><a href="{{url_for('product_detail',product_id=product.id) }}"></a></h6>
            <img src="{{ url_for('static', filename = 'images/' + product.image) }}" height="150" width="250" alt="">
          </div>
          <div class="detail-box">
            <h6 class="price">
              ${{ product.price }}
            </h6>
            <h6>
              <a href="{{url_for('product_detail',product_id=product.id) }}">{{ product.title }}</a>
              
            </h6>
            
            <!-- тут должна быть кнопка которая добавляет в корзину товар -->
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

